<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="datePrefixGenerator"
    class="com.apress.springrecipes.sequence.DatePrefixGenerator">
    <property name="pattern" value="yyyyMMdd" />
    </bean>

    <bean id="sequenceGenerator"
	  class="com.apress.springrecipes.sequence.SequenceGenerator">
      <constructor-arg ref="datePrefixGenerator" />
      <property name="initial" value="100000" />
      <property name="suffix" value="A" />
    </bean>

</beans>

