<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/lang
        http://www.springframework.org/schema/lang/spring-lang-3.2.xsd">

  <bean id="rateCalculator"
	class="com.apress.springrecipes.interest.FixedRateCalculator">
    <property name="rate" value="0.05" />
  </bean>

<lang:jruby id="interestCalculator"
    script-interfaces="com.apress.springrecipes.interest.InterestCalculator">
    <lang:inline-script>
    <![CDATA[
    class SimpleInterestCalculator

        def setRateCalculator(rateCalculator)
            @rateCalculator = rateCalculator
        end

        def calculate(amount, year)
            amount * year * @rateCalculator.getAnnualRate
        end
    end

    SimpleInterestCalculator.new
    ]]>
    </lang:inline-script>
    <lang:property name="rateCalculator" ref="rateCalculator" />
</lang:jruby>

</beans>
